
/* font-family: 'Permanent Marker', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Creepster', cursive; */
*{
  margin-top: 0px;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgba(105, 27, 42, 0.993);
  font-family: 'Creepster', cursive;
}

h1 {
  font-size: 66px;
  text-align: center;
}

h3, #secondMsg,#charMsg  {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(176, 177, 177);
}
.image {
  margin:0 auto;

top:0;
display: block;
}
#showPoints {
  margin: auto;
  padding: 10px;
  font-size: 36px;
  color: antiquewhite;
  text-align: center;
  align-items: center;
}
.container {
  /* max-width: 60%; */
  margin: auto;
  padding-top: 0;
  padding:0px 10px 10px;

}
#intro{
  padding: 20px;
  width: 80%;
  margin: 10px auto;
}



.butt {
  font-family: 'Creepster', cursive;
  font-size: 36px;
  background-color: rgba(102, 24, 39, 0.993);
  display: block;
  text-align: center;
  margin: auto;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  cursor: pointer;
}

.butt:hover {
  color: rgb(85, 81, 81);
  background-color: rgb(0, 0, 0);
}

.stageT {
  font-family: 'Creepster', cursive;
  font-size: 36px;
  background-color: rgba(102, 24, 39, 0.993);
  display: block;
  text-align: center;
  margin: auto;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  cursor: pointer;
}

.stageT:hover {
  color: rgb(85, 81, 81);
  background-color: rgb(0, 0, 0);
}
#startA{
  font-family: 'Creepster', cursive;
  font-size: 24px;
  background-color: rgba(102, 24, 39, 0.993);
  display: block;
  text-align: center;
  margin: auto;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  cursor: pointer;
}
#startA:hover {
  color: rgb(85, 81, 81);
  background-color: rgb(0, 0, 0);
}

#name, #character,#uChoice {
  font-size: 30px;
  margin: 50px auto 20px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}
#showPoints{
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 20px auto 20px;

}

@media screen and (max-width: 768px) {
  body {font-size: 0.7em; }

}


